<div class="app-body">
	<main style="margin-top: 10%;" class="main d-flex align-items-center">
		<div class="container">
			<div class="row">        
				<div class="col-md-8 mx-auto text-center mb-2 text-muted">
					<h1><i class="fa fa-ticket"></i> Peliculas</h1>
				</div>
				<div class="col-md-6 mx-auto">
					<div class="card p-4">
						<div class="card-body">
							<form #requestResetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
								<h2 class="text-center">Recuperar contraseña</h2>
								<br>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span [ngClass]="{'text-danger':email.invalid && email.touched, 'text-success':email.valid}" class="	input-group-text"><i class="fa fa-envelope"></i></span>
									</div>

									<input type="email" class="form-control" placeholder="email" name="correo de recuperacion" autocomplete="email" #email='ngModel' [(ngModel)]="form.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
								</div>

								<div class="row">

									<div class="col-12">
										<button routerLink='/login' class="btn btn-default float-left">Volver</button>
										<button type="submit" [disabled]="requestResetPasswordForm.invalid" class="btn btn-primary float-right">{{btnText}}</button>
									</div>

								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
</div>
