<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <detail-header
        [title]="'Detalles de Codigo de proyecto'"
        [subtitle]="code"
        [icon]="'fa fa-cube'"
      >
      </detail-header>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h4>Datos:</h4>
        </div>

        <div class="col-4">
          <h6 class="text-muted">Nombre:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-info"></i></span>
            </div>

            <input
              type="text"
              readonly=""
              class="form-control"
              [value]="project_code.actividad.sigla"
            />
          </div>
        </div>

        <div class="col-4">
          <h6 class="text-muted">Nombre de negocio:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-book"></i></span>
            </div>

            <input
              type="text"
              readonly=""
              class="form-control"
              [value]="project_code.dependencia.sigla"
            />
          </div>
        </div>

        <div class="col-4">
          <h6 class="text-muted">Numero de identificacion:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i> </span>
            </div>
            <input
              type="text"
              readonly=""
              class="form-control"
              [value]="project_code.sede.sigla"
            />
          </div>
        </div>
      </div>




      <div class="row">
    

        <div class="col-4">
          <h6 class="text-muted">Numero de orden:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-id-card"></i></span>
            </div>

            <input
              type="text"
              readonly=""
              class="form-control"
              [value]="project_code.numero_orden"
            />
          </div>
        </div>

        <div class="col-4">
          <h6 class="text-muted">Año:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>

            <input
              type="text"
              readonly=""
              class="form-control"
              [value]="project_code.ano"
            />
          </div>
        </div>

        <div class="col-4">
          <h6 class="text-muted">Codigo completo:</h6>
          <div class="input-group mb-3">
           
            <input
            type="text"
            readonly=""
            class="form-control"
            [value]="code"
          />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
