<div
  bsModal
  #modalCR="bs-modal"
  (onHidden)="clearForm()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{
            model_form_control._method.value == "POST" ? "Crear" : "Modificar"
          }}
          Codigo de Proyecto
        </h4>
        <button
          type="button"
          class="close"
          (click)="modal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      <form
        [formGroup]="form_model.form"
        id="creationFormCR"
        (ngSubmit)="showPreconfirmMessage()"
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <!-- start numero orden-->
              <h6 class="text-muted">Numero de orden:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-info"></i
                  ></span>
                </div>

                <input
                  type="text"
                  name="order_number"
                  readonly
                  class="form-control"
                  formControlName="numero_orden"
                />
              </div>
              <!-- end numero orden-->

              <!--start actividades_idi_id -->
              <h6 class="text-muted">Actividades idi:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    [ngClass]="{
                      'text-danger':
                        model_form_control.actividades_idi_id.invalid &&
                        model_form_control.actividades_idi_id.touched,
                      'text-success':
                        model_form_control.actividades_idi_id.valid
                    }"
                    ><i class="fa fa-id-card"></i
                  ></span>
                </div>

                <ng-select
                  required
                  style="width: 90%"
                  name="actividades_idi_id"
                  formControlName="actividades_idi_id"
                  [multiple]="false"
                  placeholder="Seleccione"
                >
                  <ng-option
                    *ngFor="let actividades_idi_id of actividades_idi_ids"
                    [value]="actividades_idi_id.id"
                    >{{
                      actividades_idi_id.nombre + "-" + actividades_idi_id.sigla
                    }}</ng-option
                  >
                </ng-select>
              </div>
              <!-- End actividades_idi_id-->

              <!--start dependencia_id -->
              <h6 class="text-muted">Dependencias:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    [ngClass]="{
                      'text-danger':
                        model_form_control.dependencia_id.invalid &&
                        model_form_control.dependencia_id.touched,
                      'text-success': model_form_control.dependencia_id.valid
                    }"
                    ><i class="fa fa-id-card"></i
                  ></span>
                </div>

                <ng-select
                  required
                  style="width: 90%"
                  name="dependencia_id"
                  formControlName="dependencia_id"
                  [multiple]="false"
                  placeholder="Seleccione"
                >
                  <ng-option
                    *ngFor="let dependencia_id of dependencia_ids"
                    [value]="dependencia_id.id"
                    >{{
                      dependencia_id.nombre + "-" + dependencia_id.sigla
                    }}</ng-option
                  >
                </ng-select>
              </div>
              <!-- End dependencia_id-->

              <!--start sede_id -->
              <h6 class="text-muted">Sedes:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    [ngClass]="{
                      'text-danger':
                        model_form_control.sede_id.invalid &&
                        model_form_control.sede_id.touched,
                      'text-success': model_form_control.sede_id.valid
                    }"
                    ><i class="fa fa-id-card"></i
                  ></span>
                </div>

                <ng-select
                  required
                  style="width: 90%"
                  name="sede_id"
                  formControlName="sede_id"
                  [multiple]="false"
                  placeholder="Seleccione"
                >
                  <ng-option
                    *ngFor="let sede_id of sede_ids"
                    [value]="sede_id.id"
                    >{{ sede_id.nombre + "-" + sede_id.sigla }}</ng-option
                  >
                </ng-select>
              </div>
              <!-- End sede_id-->

              <!--start ano -->
              <h6 class="mt-4 text-muted">Años:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    [ngClass]="{
                      'text-danger':
                        model_form_control.ano.invalid &&
                        model_form_control.ano.touched,
                      'text-success':
                        model_form_control.ano.valid
                    }"
                    ><i class="fa fa-calendar"></i
                  ></span>
                </div>

                <select  formControlName="ano" name="ano" class="form-control" id="">
                  <option value="" selected disabled>-Seleccione-</option>

                  <option  *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
                </select>
              </div>
             
              <!-- End ano-->

              <!-- End tiempo_creacion-->

              <!--start tiempo_creacion -->
              <h6 class="mt-4 text-muted">Tiempo de Creación:</h6>

              <div class="col-12">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="tiempo_creacion"
                    formControlName="tiempo_creacion"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="d.toggle()"
                    type="button"
                  >
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>

              <!-- End tiempo_creacion-->
            </div>
          </div>
        </div>
      </form>

      <div>
      </div>

      <div class="modal-footer">
        <button
          type="submit"
          form="creationFormCR"
          [disabled]="form_model.is_invalid || sendingForm"
          class="btn btn-success float-right"
        >
          {{
            model_form_control._method.value == "POST" ? "Crear" : "Modificar"
          }}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
