<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-2 text-muted">
          <h1><i class="fa fa-shield"></i> INIA</h1>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form #registerForm='ngForm' (ngSubmit)='onSubmit()'>
                <h1 class="text-center">Registrarse</h1>
                <br>

                <div *ngIf='errors' class="alert alert-danger">
                  <ul style="list-style-type: none;">
                    <li *ngFor="let error of errors">
                      <i class="fa fa-times"></i>&nbsp;&nbsp;{{error}}
                    </li>
                  </ul>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':first_name.invalid && first_name.touched, 'text-success':first_name.valid}" class="input-group-text"><i class="icon-user"></i></span>
                  </div>

                  <input type="text" class="form-control" placeholder="nombres" autocomplete="first_name" name="first_name" #first_name="ngModel" [(ngModel)]='form.first_name' required maxlength="40">

                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':last_name.invalid && last_name.touched, 'text-success':last_name.valid}" class="input-group-text"><i class="icon-user"></i></span>
                  </div>

                  <input  type="text" class="form-control" placeholder="apellidos" autocomplete="last_name" required maxlength="40" name="last_name" #last_name="ngModel" [(ngModel)]='form.last_name' >
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':email.invalid && email.touched, 'text-success':email.valid}" class="input-group-text">@</span>
                  </div>
                  <input  type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  class="form-control" placeholder="Email" autocomplete="email" required name="email" #email="ngModel" [(ngModel)]='form.email' >
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':phone.invalid && phone.touched, 'text-success':phone.valid}" class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input  type="text" pattern="[- +()0-9]+"  class="form-control" placeholder="Phone" autocomplete="phone" required name="phone" #phone="ngModel" [(ngModel)]='form.phone' >
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':password.invalid && password.touched, 'text-success':password.valid}" class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="contraseña" autocomplete="new-password"  minlength="6" required name="password" #password="ngModel" [(ngModel)]='form.password'>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span [ngClass]="{'text-danger':password_confirmation.invalid && password_confirmation.touched, 'text-success':password_confirmation.valid}" class="input-group-text"><i class="icon-lock"></i></span>
                  </div>

                  <input type="password" class="form-control" placeholder="confirmar contraseña" autocomplete="new-password" minlength="6" required name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]='form.password_confirmation' >

                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success float-right">Registrarse</button>

                <button type="button" routerLink='/login' class="btn btn-default float-left">Volver al login</button>

              </form>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
